<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<form name="addForm" method="post">
    <label for="emailAddress">아이디</label> <input type="text" id="userId" name="userId" />
    <label for="emailAddress">비밀번호</label> <input type="password" id="userPw" name="userPw" />
    <label for="emailAddress">별명</label> <input type="text" id="nickname" name="nickname" />
    <label for="emailAddress">이메일 </label> <input type="email" id="emailAddress" name="emailAddress" />

    <button type="submit">확인</button>
</form>

</body>
</html>