<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>

    <div class="container">
        <div>
            <table class="table table-striped" border="1">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>별명</th>
                    <th>이메일</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.id}"/>
                        <td th:text="${member.userId}"/>
                        <td th:text="${member.nickname}"/>
                        <td th:text="${member.emailAddress}"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</head>
<body>

<!-- 회원 목록 페이지 입니다. -->
<!--
    TO DO
    관리자만 접속할 수 있도록 하기
    회원 관리용 페이지

-->

</body>
</html>